<div class="resume-content col-md-7 col-md-offset-5">
    <div *ngFor="let entry of resumeDetail; let i = index">
        <ul>
            <li>
                <div *ngIf="entry.startDate && entry.endDate" class="date">
                    {{entry.startDate | date:"MMMM y" | uppercase}} - {{entry.endDate | customDate: "MMMM y" | uppercase}}
                </div>
                <div *ngIf="entry.date" class="date">
                    {{entry.date | date:"MMMM y" | uppercase}}
                </div>
            
                <div *ngFor="let key of getObjectKeys(i); let z = index">
                    <div *ngIf="!key.toLowerCase().includes('date')">
                        <div *ngIf="key === 'summary' || key === 'highlights'"><h5>{{key}}</h5></div> 
                        <div *ngIf="!itemIsArray(entry[key]); else renderArray" [ngClass]="key">
                            <a *ngIf="key==='url'; else renderText" href="{{entry[key]}}">
                                {{entry[key]}}
                            </a>
                            <ng-template #renderText>
                                {{entry[key]}}
                            </ng-template>
                        </div>
                        <ng-template #renderArray>
                            <ul [ngClass]="key">
                                <li *ngFor="let element of entry[key]">
                                    {{element}}
                                </li>
                            </ul>
                        </ng-template>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>