<div class="navigationMob hidden-md hidden-lg">
    <!-- Single button -->
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle glyphicon glyphicon-menu-hamburger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li *ngFor="let navItem of navigation" (click)="onSelectNavItem(navItem)" [class.selectedMob]="navItem === selectedNavItem">
                {{navItem}}
            </li>
        </ul>
    </div>
</div>

<ul class="navigation hidden-sm hidden-xs">
  <li *ngFor="let navItem of navigation" (click)="onSelectNavItem(navItem)" [class.selected]="navItem === selectedNavItem">
    {{navItem | uppercase}}
  </li>
</ul>