/* The animation code */
 @keyframes moveRight {
    from {padding-left: 0em;}
    to {padding-left: 0.5em;}
} 
 @keyframes moveLeft {
    from {padding-left: 0.5em;}
    to {padding-left: 0em;}
}

.navigation {
    position: fixed;
    top: 33%;
    left: 50px;
    z-index: 999;
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
    color: #7d7d7d;
    font-family: Zolano Sans BTN;
    font-size: 10pt;
}

.navigation li:hover {
    color: #111111;
     /* padding-left: .5em;  */
    animation-name: moveRight;
    animation-duration: 0.5s; 
    animation-fill-mode: forwards;
}


.navigation li {
    cursor: pointer;
    position: relative;
    padding-top: .1em;
    padding-bottom: 0.1em;
    height: 1.6em;
    list-style-image: url('../assets/list-style-nav.png');
    animation-name: moveLeft;
    animation-duration: 0.5s; 
    animation-fill-mode: forwards;
}

.navigation li.selected {
    list-style-image: url('../assets/list-style-nav-on.png');
    color: #111111;
}