<div *ngIf="!resumeDataBasics">
    A little bit of patience please, I'm running on a shared environment.
    <ngx-loading [show]="!resumeDataBasics" [config]="{  animationType: ANIMATION_TYPES.wanderingCubes, backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<div *ngIf="resumeDataBasics" class="row" style="text-align:left">
  
  <div class="col-md-4">
       <div class="page-header">
        <h1>{{resumeDataBasics.name}} <br/> <small>{{resumeDataBasics.label}}</small></h1>
       </div>
    </div>
  <div class="col-md-4" style="text-align:center"> <img width="250" src="{{resumeDataBasics.picture}}"></div>
  <div class="col-md-4" style="margin-top:30px;">
        <div class="row" style="padding-bottom:31px">
            <div class="col-md-8">
                <span *ngFor="let profile of resumeDataBasics.profiles">
                    <a href="{{profile.url}}" target="_blank"><img width="40px" height="40px" src="./assets/socialMedia/{{profile.network}}.png"></a>
                </span>
            </div>
        </div>
        <div class="row">
            <!-- <div class="col-md-1 glyphicon glyphicon glyphicon-send" aria-hidden="true"></div> -->
            <div class="col-md-8"><a href="mailto:{{resumeDataBasics.email}}">{{resumeDataBasics.email}}</a></div>
        </div>
        <div class="row">
            <!-- <div class="col-md-1 glyphicon glyphicon glyphicon-phone" aria-hidden="true"></div> -->
            <div class="col-md-8">{{resumeDataBasics.phone}}</div>
        </div>
        <div class="row">
            <!-- <div class="col-md-1 glyphicon glyphicon glyphicon-envelope" aria-hidden="true"></div> -->
            <div class="col-md-8">{{resumeDataBasics.location.address}}</div>
        </div>
        <div class="row">
            <!-- <div class="col-md-1"></div> -->
            <div class="col-md-8">{{resumeDataBasics.location.city}} {{resumeDataBasics.location.countryCode}}</div>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div *ngIf="resumeDataBasics" class="col-md-8" style="padding-top:15px;" [innerHtml]="resumeDataBasics.summary"><em>{{resumeDataBasics.summary}}</em></div>
  <div class="col-md-2"></div>
</div>
